.row.full-width {
	max-width: 100%;
}

html,body {
	background-color: grey;
}

#main-container {
	margin: 1% 0% 0% 1%;
	height: 95%;
}

#graph {
	border: 2px solid black;
	border-radius: 5%;
	background-color: white;
	height: 100%;
	padding: 0px;
}

.disabled-panel {
	background-image: url("/resources/img/disabled_grid.jpg");
	background-size: 25% auto;
}

#total_stats, #manipulation_widget, #cluster_widget, #node_widget, #edge_widget, #control_widget{
	margin-bottom: 10px;
	border: 2px solid black;
	border-radius: 5%;
	padding: 5px;
	font-family: "Courier New", Courier, monospace;
}

#total_stats, #cluster_widget, #node_widget, #edge_widget{
	background-color: #5c85d6;
}

#control_widget {
	background-color: #00cc99;
}

#manipulation_widget {
	background-color: #77773c;
}

#cluster_widget, #node_widget, #edge_widget {
	display:none;
}

#side-widget{
	background-color: #CCCCB3;
	box-shadow: 2px 0 13px 14px #585858;
}

#statistics{
	overflow: auto;
	height: 100%;
}

#side-widget-trigger {
	background-color: #CCCCB3;
	box-shadow: -9px 0 8px 0px #585858;
	border-radius: 5%;
	height: 25px;
	width: 25px;
	position: absolute;
	left: -25px;
	top: 0px;
	right: 0;
	cursor: pointer;
}

#node-types, #in-edges, #out-edges, #node-metrics {
	width: 95% !important;
	height: 200px !important;
	margin: 0 auto;
	display: block;
}

#node_requests_dialog a, #edge_requests_dialog a{
	color: white;
}

#mode-dialog .header{
	text-align: center;
	font-weight: bold;
}

#mode-dialog img{
	border-radius: 3%;
}

#mode-dialog .option{
	border: groove grey 3px;
	border-radius: 2%;
	cursor: pointer;
}

#mode-dialog .option:hover{
	border: groove white 3px;
}

table {
    table-layout: fixed;
    word-wrap:break-word;
    color: black;
}

.hcenter{
	text-align: center;
}

.wrap{
	word-wrap:break-word;
}

.param_key{
	cursor: pointer;
}

.button {
	border: groove grey 2px;
}

.noclose .ui-dialog-titlebar-close{
    display:none;
}

.button.big_font {
	font-size: 13px;
}

.button.medium_font{
	font-size: 11px;
}

label {
	color: white;
}

input.invalid {
	border: red 3px solid;
}