html,body {
	background-color: grey;
	height: auto;
}

#main-container {
	margin: 1%;
	height: 95%;
}

#graph {
	border: 2px solid black;
	border-radius: 5%;
	background-color: white;
}

#total_stats, #node_widget, #edge_widget, #control_widget{
	margin-bottom: 10px;
}

#total_stats, #node_widget, #edge_widget{
	border: 2px solid black;
	border-radius: 5%;
	background-color: #5c85d6;
	font-family: "Courier New", Courier, monospace;
	padding: 5px;
}

#control_widget {
	border: 2px solid black;
	border-radius: 5%;
	background-color: #00cc99;
	font-family: "Courier New", Courier, monospace;
	padding: 5px;
}

#node_widget, #edge_widget {
	display:none;
}

#side-widget{
	background-color: #CCCCB3;
	box-shadow: 2px 0 13px 14px #585858;
}

#side-widget-trigger {
	background-color: #CCCCB3;
	box-shadow: -9px 0 8px 0px #585858;
	border-radius: 5%;
	height: 25px;
	width: 25px;
	position: absolute;
	left: -25px;
	top: 0px;
	right: 0;
	cursor: pointer;
}

#in-edges, #out-edges {
	width: 95% !important;
	height: 200px !important;
	margin: 0 auto;
	display: block;
}

#node_requests_dialog a, #edge_requests_dialog a{
	color: white;
}

table {
    table-layout: fixed;
    word-wrap:break-word;
}

.param_key{
	cursor: pointer;
}