body {
	background-color: grey;
}

#main-container {
	margin: 1%;
}

#graph {
	border: 2px solid black;
	border-radius: 5%;
	background-color: white;
}

#total_stats, #node_widget, #edge_widget{
	margin-bottom: 10px;
}

#total_stats, #node_widget, #edge_widget {
	border: 2px solid black;
	border-radius: 5%;
	background-color: #5c85d6;
	font-family: "Courier New", Courier, monospace;
	padding: 5px;
}


#node_requests_dialog a, #edge_requests_dialog a{
	color: white;
}

#edge_requests_opener, #node_requests_opener{
	display: none;
}

table {
    table-layout: fixed;
    word-wrap:break-word;
}